
body > header {
    display: flex;
    justify-content: space-between;
    background-color: gold;
}

#logo {
    padding: 10px;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex: 50%;
    
}

.main_nav > li {
    padding: 10px;
    
}

.main_nav > li > a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px
}

body > footer {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    padding-top: 30px;
}

#rules {
    width: 25%;
}

#rules_section {
    display: flex;
}

#rules_section > p {
    font-size: 25px;
}

#results {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}