{% extends "base.html" %}

{% block content %}
<h2>Enter your name and your choice of Rock, Paper or Scissors in the spaces below.</h2>
<form action="/solo_play" method="post">
    <label for="player_1">Enter your name</label>
    <input type="text" name="player_1" id="player_1">

    <label for="choice_1">Enter your choice</label>
    <select name="choice_1" id="choice_1">
        <option value="Rock">Rock</option>
        <option value="Paper">Paper</option>
        <option value="Scissors">Scissors</option>
    </select>

    <input type="submit">
</form>
{% endblock %}