<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title> {{ title }} </title>
    </head>
    <body>
        <header>
            <img id= "logo" src="{{url_for('static', filename='images/rps.jpg')}}" alt="rock paper scissors symbols">
            <h1>Rock Paper Scissors</h1>
            <nav>
                <ul class= "main_nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/rules">Rules</a>
                    </li>
                    <li>
                        <a href="/2_players">2-Player Game</a>
                    </li>
                    <li>
                        <a href="/1_player">1-Player Game</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        <br>
        {% block content %}
        {% endblock %}
        <br>

        </main>
        <footer>
            <h3>Thanks for visiting!</h3>
            <nav>
                <ul class= "main_nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/rules">Rules</a>
                    </li>
                    <li>
                        <a href="/2_players">2-Player Game</a>
                    </li>
                    <li>
                        <a href="/1_player">1-Player Game</a>
                    </li>
                </ul>
            </nav>
        </footer>

    </body>
</html>